<!DOCTYPE html>
<html>
  <head>
    <title><%= film.title %></title>
  </head>
  <body>
    <h1><%= film.title %></h1>
    <p>Released: <%= film.release_year %></p>
    <p>Duration: <%= film.duration_minutes %> minutes</p>
    <p>Rating: <%= film.rating %></p>
    <p><%= film.description %></p>
    <a href="/films">Back to all films</a>
  </body>
</html>
