<!DOCTYPE html>
<html>
  <head>
    <title><%= film.title %></title>
  </head>
  <body>
    <h1><%= film.title %></h1>
    <p>Released: <%= film.release_year %></p>
    <p>Duration: <%= film.duration_minutes %> minutes</p>
    <p>Rating: <%= film.rating %></p>
    <p><%= film.description %></p>

    <a href="/films/<%= film.film_id %>/edit">Edit</a>
    <form
      action="/films/<%= film.film_id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
    <br />
    <a href="/films">Back to all films</a>
  </body>
</html>
